.footer {
    background: #f9f9f9;
    color: #000;
    display: flex;
    justify-content: space-between;
    padding: 10px 11%;
}

.footer__enlace_youtube {
    color: black;
    text-decoration: none;
}